:host {
  &.button--primary {
    button {
      background-color: var(--primary-color);
      color: var(--text-color-dark);

      &:hover {
        background-color: var(--primary-color-dark);
      }
    }
  }

  &.button--icon {
    button {
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 88px;

      img {
        background-color: transparent;
        border-radius: 0;
      }
    }
  }

  &.button--default {
    button {
      width: 100%;
      background-color: var(--background-dark--element);
      color: var(--text-color-dark);
    }
  }

  button {
    border-radius: 25px;
    padding: 5px 10px 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    border: none;
    min-height: 41px;
    cursor: pointer;

    img {
      padding: 10px;
      background-color: var(--text-color-dark);
      border-radius: 50%;
    }

    span {
      margin: 0 10px 0 15px;
    }
  }
}
