:root {
  --primary-color: #7c5df9;
  --secondary-color-dark: #6d748e;
  --primary-color-dark: #5a40c4;
  --background-dark: #141625;
  --background-dark--element: hsl(236, 30%, 17%);
  --text-color-dark: #fff;
  --input-fields-background-dark: #1f213a;

  --pending-color: rgb(255, 142, 1);
  --pending-color--background: rgba(255, 142, 1, 0.05);
  --draft-color: rgb(255, 255, 255);
  --draft-color--background: rgba(255, 255, 255, 0.05);
  --paid-color: rgb(51, 214, 159);
  --paid-color--background: rgba(51, 214, 159, 0.05);
}
