@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Jost", sans-serif;
  background-color: #141625;
  color: #fff;
  display: flex;
  justify-content: center; 

  // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900


}
