@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import './variables';

body {
  font-family: "Jost", sans-serif;
  background-color: var(--background-dark);
  color: var(--text-color-dark);
  display: flex;
  justify-content: center; 
}
