<div class="invoice-list__header">
  <div class="title">
    <h1 class="title__main">Invoices</h1>
    <p class="title__info">There are {{ invoices.length }} total invoices.</p>
  </div>
  <div class="controls">
    <div class="filter">
      <span class="filter__label">Filter by status</span>
      <img class="filter__icon" src="assets/icon-arrow-down.svg" alt="Icon" />
    </div>
    <app-button
      icon="./assets/icon-plus.svg"
      text="New Invoice"
      class="button__new-invoice"
      (click)="toggleOffCanvas()"
    ></app-button>
  </div>
</div>
<div class="invoice-list" *ngFor="let invoice of invoices">
  <app-invoice-preview
    [invoice]="invoice"
    class="invoice-list__item-content"
  ></app-invoice-preview>
</div>
<div class="off-canvas" [class.show]="showOffCanvas">
  <app-invoice-create></app-invoice-create>
</div>
<div class="overlay" [class.active]="showOffCanvas" (click)="toggleOffCanvas()"></div>