:host {
  width: 100%;
  max-width: 700px;
  margin-top: 30px;

  .invoice-preview__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .title {
      margin: 20px 0;
    }

    h1 {
      margin: 0;
    }

    p {
      margin: 0;
      font-size: 12px;
    }

    .controls {
      display: flex;
      flex-direction: row;

      .filter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
      }

      .filter__label {
        padding-right: 10px;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}
